.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 32px 0;
}

.tag-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 4px 12px;
    font-size: 0.75rem;
}

.tag-item a {
    color: white;
    text-decoration: none;
}

.tag-item a:hover {
    text-decoration: underline;
}

